---
branches:
  only:
    - master

services:
  - docker

env:
  - distro: centos7_22
    init: /usr/sbin/init
    run_opts: "--privileged -v /sys/fs/cgroup:/sys/fs/cgroup:ro"
  - distro: jessie_22
    init: /sbin/init
    run_opts: "--privileged -v /sys/fs/cgroup:/sys/fs/cgroup:ro"
  - distro: xenial_22
    init: /lib/systemd/systemd
    run_opts: "--privileged -v /sys/fs/cgroup:/sys/fs/cgroup:ro"

before_script:
  - >
    docker build -t graylog-ansible-role-${distro}
    -f tests/support/${distro}.Dockerfile tests/support

script:
  - >
    docker run -d -it -v $PWD:/role:ro
    ${run_opts} --name ${distro}
    graylog-ansible-role-${distro} ${init}
  - DOCKER_CONTAINER_ID=$(docker ps --filter name=${distro} -q)
  - >
    docker exec -it $DOCKER_CONTAINER_ID
    /bin/bash -xec "bash -x run-tests.sh"
