---

branches:
  only:
    - "master"

dist: focal

language: python
python: 3.8

env:
  matrix:
    - MOLECULE_DISTRO: centos/7
    - MOLECULE_DISTRO: centos/8
    - MOLECULE_DISTRO: debian/stretch64
    - MOLECULE_DISTRO: debian/buster64
    - MOLECULE_DISTRO: generic/ubuntu1604
    - MOLECULE_DISTRO: generic/ubuntu1804
    - MOLECULE_DISTRO: generic/ubuntu2004

install:
  - |
    export VAGRANT_VERSION=2.2.10
    sudo apt-get update && sudo apt-get install -y bridge-utils dnsmasq-base ebtables libvirt-daemon libvirt-daemon-system libvirt-dev qemu-kvm qemu-utils ruby-dev
    sudo wget -nv https://releases.hashicorp.com/vagrant/${VAGRANT_VERSION}/vagrant_${VAGRANT_VERSION}_x86_64.deb
    sudo dpkg -i vagrant_${VAGRANT_VERSION}_x86_64.deb
    vagrant --version
  - sudo vagrant plugin install vagrant-libvirt
  - pip3 install molecule==3.0.8 yamllint ansible-lint python-vagrant molecule-vagrant testinfra
  - sudo chown -R travis:travis /home/travis/.vagrant.d
  - sudo -E gpasswd -a travis libvirt

script:
  - sudo -E su travis travis.sh
