ansible==11.2.0
ansible-compat==25.1.2
ansible-core==2.18.2
attrs==25.1.0
black==25.1.0
bracex==2.5.post1
certifi==2025.1.31
cffi==1.17.1
charset-normalizer==3.4.1
click==8.1.8
click-help-colors==0.9.4
cryptography==44.0.1
distro==1.9.0
docker==7.1.0
enrich==1.2.7
filelock==3.17.0
h11==0.14.0
idna==3.10
importlib_metadata==8.6.1
iniconfig==2.0.0
Jinja2==3.1.6
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
markdown-it-py==3.0.0
MarkupSafe==3.0.2
mdurl==0.1.2
molecule==25.1.0
molecule-plugins==23.7.0
mypy-extensions==1.0.0
outcome==1.3.0.post0
packaging==24.2
parallels==0.1.0
pathspec==0.12.1
platformdirs==4.3.6
pluggy==1.5.0
pycparser==2.22
Pygments==2.19.1
PySocks==1.7.1
pytest==8.3.4
pytest-testinfra==10.1.1
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
python-slugify==8.0.4
python-vagrant==1.0.0
PyYAML==6.0.2
referencing==0.36.2
requests==2.32.3
resolvelib==1.0.1
rich==13.9.4
rpds-py==0.22.3
ruamel.yaml==0.18.10
ruamel.yaml.clib==0.2.12
selenium==4.28.1
selinux==0.3.0
setuptools==75.8.0
six==1.17.0
sniffio==1.3.1
sortedcontainers==2.4.0
subprocess-tee==0.4.2
text-unidecode==1.3
trio==0.28.0
trio-websocket==0.11.1
typing_extensions==4.12.2
urllib3==2.3.0
wcmatch==10.0
webdriver-manager==4.0.2
websocket-client==1.8.0
wheel==0.45.1
wsproto==1.2.0
yamllint==1.35.1
zipp==3.21.0
