graylog2-server.uris="{{web_server_uri}}"
application.secret="{{web_secret}}"
timezone="{{web_timezone}}"
field_list_limit={{web_field_list_limit}}
#application.context={{web_context}}

application.global=lib.Global
