GRAYLOG_WEB_HTTP_ADDRESS="{{ graylog_web_listen_address }}"
GRAYLOG_WEB_HTTP_PORT="{{ graylog_web_port }}"
GRAYLOG_WEB_JAVA_OPTS="{{ graylog_web_java_opts }}"
GRAYLOG_WEB_ARGS="{{ graylog_web_args }}"
GRAYLOG_COMMAND_WRAPPER="{{ graylog_web_wrapper }}"
