{% if graylog_server_java is defined and graylog_server_java|length %}
JAVA="{{ graylog_server_java }}"
{% endif %}
GRAYLOG_SERVER_JAVA_OPTS="{{ graylog_server_java_opts }}"
GRAYLOG_SERVER_ARGS="{{ graylog_server_args }}"
GRAYLOG_COMMAND_WRAPPER="{{ graylog_server_wrapper }}"
