GRAYLOG2_WEB_HTTP_ADDRESS="{{web_listen_address}}"
GRAYLOG2_WEB_HTTP_PORT="{{web_port}}"
GRAYLOG2_WEB_JAVA_OPTS="{{web_java_opts}}"
GRAYLOG2_WEB_ARGS="{{web_args}}"
GRAYLOG2_COMMAND_WRAPPER="{{web_wrapper}}"
