graylog2-server.uris="{{ graylog_web_server_uri }}"
application.secret="{{ graylog_web_secret }}"
timezone="{{ graylog_web_timezone }}"
field_list_limit={{ graylog_web_field_list_limit }}

application.global=lib.Global
